# Binaries
bin
obj

# Logs
logs
*.log
npm-debug.log*

# Node Modules
node_modules/

# JS and JS.MAP
**/*.js
**/*.js.map
**/*.test.js
**/*.test.js.map

**/wwwroot/dist
**/wwwroot/hot

# Specific
/aspnetcore/wwwroot/index.html

# config.js in root folder
!/*/*.js
